/* Pseudoselector (custom properties) */
:root {
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --fuente-principal: 'Krub', sans-serif;
}

/* 
    Con las líneas del HTML y BODY, ayudamos a que la medida del REM,
    sea fácil de utilizar.
    1 REM = 10PX

    Selectores de atributo
    src=[logo.jpg] {
        color: blue;
    }

    Combinación de descendentes
    .cliente .nombre {
        color: blue;
    }

    Todos lo hijos
    .cliente > p {
        color: blue;
    }

    Se recomienda usar clases, en lugar de las etiquetas.

    Ejemplos
    *BEM*: 
    Bloques: .card {}
    Elementos:  .card__titulo {}
    Modificadores: .card__boton--activo {} 

    *Utility First*
    .test-center {}
    .color-red-100 {}
    .p-2 {}

    *Módulos* (es el que se usa en este proyecto)
    .card {}
    .card h2 {}
    .card img {}
    .card {}
*/

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;

    font-family: var(--fuente-principal);
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    /* Display: Flex; siempre se agrega en el padre */
    display: flex;
    justify-content: space-between;
}

.navegacion-principal a {    
    color: var(--blanco);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

/* Media Queries todo lo que este arriba de 480px es lo que se utilizará */
@media (min-width: 480px) {
    
}